@model IEnumerable<CicekciBaciDapper.Models.CicekBilgiModel>

@{
    ViewBag.Title = "Index";
}

<h2>Çiçek Bilgi</h2>

<p>
    @Html.ActionLink("Yeni", "EY", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cicekadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mensei)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cicekadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mensei)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "EY", new { id=item.cicekNo }, new { @class = "btn btn-warning" }) |
            
            @Html.ActionLink("sil", "Delete", new { id = item.cicekNo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
